[tool.pyink]
# Pyink is Google's fork of Black, designed for Google Python Style Guide
line-length = 88
target-version = ["py312"]
extend-exclude = '''
/(
  # Exclude common directories
  \.git
  | \.venv
  | venv
  | \.eggs
  | \.tox
  | build
  | dist
  | __pycache__
)/
'''

[tool.isort]
# Configure isort to be compatible with pyink and Google Python Style Guide
profile = "google"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_gitignore = true
